<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VoltVitals</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index_styles.css') }}" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <h1>VoltVitals Real-Time Data Visualization</h1>
    <div class="container">
        <div class="graph-box">
            <h2 class="graph-label">AC Voltage</h2>
            <canvas id="graph1"></canvas>
        </div>
        <div class="graph-box">
            <h2 class="graph-label">System Status/Voltage Status</h2>
            <div id="system-status">
                <p id="status-text">System Status: Unknown</p>
                <p id="voltage">AC Voltage: N/A</p>
                <!-- Add more system status details here -->
            </div>
        </div>
        <div class="graph-box">
            <h2 class="graph-label">Historical Data</h2>
            <p id="historical-faults">Number of Faults Today: Unknown</p>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>