<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VoltVitals</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index_styles.css') }}" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <h1>Real-Time Data Visualization</h1>
    <div class="container">
        <div class="graph-box">
            <canvas id="graph1"></canvas>
        </div>
        <div class="graph-box">
            <canvas id="graph2"></canvas>
        </div>
        <div class="graph-box">
            <canvas id="graph3"></canvas>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>